<h1>Welcome to book club! </h1>

<h2>This is our second project of Module 2 for the backend program
   of Turing School of Software and Design</h2>

<h2>Project Contributors: </h2>
<% @people.each do |person| %>
<section id="person-<%= person.id %>">
  <h3><%= person.name %></h3>
  <h3>Github: <%= link_to %></h3>
</section>
<% end %>
